.vscode/launch.json
__pycache__/mongoManager.cpython-313.pyc
__pycache__/uvicornBackend.cpython-313.pyc
__pycache__/uvicornBackend.cpython-312.pyc
__pycache__/mongoManager.cpython-312.pyc
__pycache__/models.cpython-312.pyc
__pycache__/auth.cpython-312.pyc
